{{ include('header.twig') }}

<div class="main">
    <div class="welcome-text">
        {{ hello }}
    </div>

    <div class="welcome-text">
        {{ welcomeMessage }}
    </div>

    <div class="welcome-text">
        {{ documentation }}
    </div>
</div>

{{ include('footer.twig') }}